table{
    border-spacing: 0px;
    width: 100%;

}
th,td{
    text-align: center;
    padding: 15px;
    font-weight: normal;
}
th{
    background: #E85039;
    color: #FFFFFF;
}
.heding{
    border-radius:5px 5px 0 0;
    color: white;
    font-size: 30px;
    background:#34e2ff ;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
    padding: 20px;
}
.content{

    margin: 0 auto;

    width: 700px;
    height: 95vmin;
}
.twitt:nth-child(2n){
    background: rgb(211, 211, 211);

}
button{
    font-size: 18px;
    font-family: 'Arial';
    padding: 8px 10px;
    border-radius: 3px;
    width: 100px;
    background: #7186C7;
    color: #FFFFFF;
    border: 0;
}